@page "/"

<PageTitle>Index</PageTitle>

<h1>menalb website</h1>

<p>
    <a href="https://menalb.hashnode.dev/" title="English Blog">English Blog</a>
</p>
<p>
    <a href="https://www.ugidotnet.org/autore/20398/Alberto-Meneghini" title="Italian Blog on UGIdotNET">Italian Blog on UGIdotNET</a>
</p>
